<h2 class="text-center" >Renkler (Colors)</h2>

<table class="table "  style="background-color: #ffffff9f;">
   
  <thead>
    
      <tr>
        
        <th> <h3> Renk </h3> </th>
      </tr>

  </thead>
  <tr >
     <td    (click)="clearCurrentColor()"  routerLink = "/cars" [class]="getAllColorClass()"> <h6> Tüm Renkler </h6>  </td>
    <td  (click)="setCurrentColor(color)" 
    routerLink = "/cars/color/{{color.colorId}}" 
    *ngFor='let color of color' 
      [class]="getCurrentColorClass(color)" >  {{color.colorName}}  </td>
</tr>

</table>
<h6 *ngIf="currentColor" > {{currentColor.colorName}} Seçtiniz :)  </h6>

<!-- [class]="getAllBrandClass()" -->
