<h2 class="text-center" >  </h2>

<table class="table "  style="background-color: #ffffff9f;">
   
  <thead>
    
      <tr>
        
        <th> <h3> Renk </h3> </th>
      </tr>

  </thead>
  <tr >
     <td    (click)="clearCurrentColor()"  routerLink = "/cars" [class]="getAllColorClass()">  Tüm Renkler  </td>
    <td  (click)="setCurrentColor(color)" 
    routerLink = "/cars/color/{{color.colorId}}" 
    *ngFor='let color of color' 
      [class]="getCurrentColorClass(color)" > <h5> {{color.colorName}}  </h5>   </td>
</tr>

</table>
<h6 *ngIf="currentColor"  class="alert alert-success" > {{currentColor.colorName}} Seçtiniz :)  </h6>

<!-- [class]="getAllBrandClass()" -->
