

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active text-center" id="v-pills-home-tab" data-toggle="pill" href="https://sametakca.com/" role="tab" aria-controls="v-pills-home" aria-selected="true"> <h5> Samet Akca </h5>  </a>
  
</div>

<div class="row" > 



<div class="col-md-2"> 

</div>

<div class="col-md-8" >  
  <div class="align-items-center" > 
<div class="input-group mx-2 my-3 mr-3 ">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"> <h5> @ </h5> </span>
  </div>
  <input class="col-md-3" type="text" class="form-control" 
  placeholder="Instagram" aria-label="Username" aria-describedby="basic-addon1">
  <button type="button" class="btn btn-outline-primary"> <a class="text-white" style="text-decoration: none"  
    href="https://www.instagram.com/smtcoder/" target="_blank"> <h5>  Takip Et </h5>  </a>  </button>
  </div>
</div>
</div>
<div class="col-md-2"> 

</div>
</div>
<br>

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #000000;">
    <div class="container-fluid ">
     
    
      <div>
      <form class="d-flex" *ngIf="checkIfLogin()==false">>
        <button class="btn btn-primary" type="submit" routerLink="/login">
         
        </button>
        <button class="btn btn-warning" type="submit" routerLink="/login">
          <h3> Giriş Yap </h3> 
        </button>
  
      </form>
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0"
        *ngIf="checkIfLogin()==true">
      >
        <li class="nav-item dropdown right">
          <a
            class="nav-link dropdown-toggle text-light"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <h3>  {{ user?.firstName }}
            {{ user?.lastName }} (Findex : {{ user?.findexPoint }}) </h3>
           
          </a>

          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
          >
            <li class="colorl">
              <a class="dropdown-item" routerLink="/profile"
                ><i class="bi bi-person-circle"></i> <h3> Profil </h3> </a
              >
            </li>
            <li>
              <a class="dropdown-item bg-danger text-white" (click)="logOut()"
                ><i class="bi bi-power "></i> <h2> Çıkış Yap  </h2> </a
              >
            </li>
          </ul>
        </li>
      </ul>
      
          </div>
  

      <a class="navbar-brand mx-5 " href="#">
      
        <h5 class="text-center">  @SMTcoder  </h5> 
         <h4>  Araç Kiralama Projesi </h4>
      </a>
      <div class="container">  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> <h5> Tüm  Araçlar </h5> </a>    
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Araç Kirala 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Lüks Araçlar</a></li>
              <li><a class="dropdown-item" href="#">Geniş Araçlar </a></li>
              <li><a class="dropdown-item" href="#">Arazi Araçlar </a></li>
              <li><a class="dropdown-item" href="#">Orta Sekment Araçlar </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Kiraladığım Araçlar</a></li>    
            </ul>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/smtcoder/" target="_blank" > Şubelerimiz </a>
          </li>
        </ul>
        
        
       

        <form class="d-flex">
         
      
         <!--  <button  routerLink="/register"  class="btn btn-sm btn-outline-primary" type="button">  <h5> Kayıt Ol </h5>  </button> -->
       
          

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <button  routerLink="/cars/add"  class="btn btn-success" type="button"> <h4>  Ekle  </h4>   </button> 
            </a>
            <ul class="dropdown-menu" style="background-color: black;" aria-labelledby="navbarDropdown">
              <button  routerLink="/cars/add"  class="btn btn-outline-success" type="button"> <h5>  + Araç  Ekle ; </h5>   </button> 
             
              <button  routerLink="/colors/add"  class="btn btn-outline-success" type="button"> <h5>  + Renk  Ekle ;</h5>   </button>
              <button  routerLink="/brands/add"  class="btn btn-outline-success" type="button"> <h5>+ Marka  Ekle </h5>   </button> 
         
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">@SMTcoder</a></li>    
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <button  routerLink="/cars/list"  class="btn btn-primary" type="button"> <h4>  Güncelle  /  Sil   </h4>   </button> 
            </a>
            <ul class="dropdown-menu" style="background-color: black;" aria-labelledby="navbarDropdown">
              <button  routerLink="/cars/list"  class="btn btn-outline-primary" type="button"> <h5> + Araç   Güncelle ;   </h5>   </button> 
            
              <button  routerLink="/colors/list"  class="btn btn-outline-primary" type="button"> <h5> + Renk   Güncelle ;   </h5>   </button> 
              <button  routerLink="/brands/list"  class="btn btn-outline-primary" type="button"> <h5> + Marka  Güncelle  </h5>   </button> 
         
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">@SMTcoder</a></li>    
            </ul>
          </li>
        
        </form>
      </div>
      </div>
    </div>
   
  </nav>
