

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active text-center" id="v-pills-home-tab" data-toggle="pill" href="https://sametakca.com/" role="tab" aria-controls="v-pills-home" aria-selected="true"> <h5> Samet Akca </h5>  </a>
  
</div>



<br>

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #000000;">
    <div class="container-fluid ">
     
      <a class="navbar-brand mx-5 " href="#">
      
        <h5 class="text-center">  @SMTcoder  </h5> 
         <h4>  Araç Kiralama Projesi </h4>
      </a>
      <div class="container">  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> <h5>  Araçlar </h5> </a>    
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Araç Kirala 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Lüks Araçlar</a></li>
              <li><a class="dropdown-item" href="#">Geniş Araçlar </a></li>
              <li><a class="dropdown-item" href="#">Arazi Araçlar </a></li>
              <li><a class="dropdown-item" href="#">Orta Sekment Araçlar </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Motorlar</a></li>    
            </ul>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/smtcoder/" target="_blank" > Şubelerimiz </a>
          </li>
        </ul>
        
        
       

        <form class="d-flex">
          <button   routerLink="/login"  class="btn btn-outline-success" type="button"> <h5> Giriş Yap </h5>   </button> 
         <li> </li>
         <!--  <button  routerLink="/register"  class="btn btn-sm btn-outline-primary" type="button">  <h5> Kayıt Ol </h5>  </button> -->
          <li> </li>
          <button  routerLink="/cars/add"  class="btn btn-outline-warning" type="button"> <h5> Araç  Ekle </h5>   </button> 
          <li> </li>
          <button  routerLink="/cars/list"  class="btn btn-outline-danger" type="button"> <h5> Araç  Güncelle / Sil  </h5>   </button> 
          <li> </li>
        </form>
      </div>
      </div>
    </div>
   
  </nav>
