<h2 class="text-center" > SMTcoder </h2>

<table class="table "  style="background-color: #ffffff9f;">
   
  <thead>
  
      <tr>
        
        <th> <h3> Model </h3> </th>
      </tr>

  </thead>
  <tr >
     <td     (click)="clearCurrentBrand()"  routerLink = "/cars" [class]="getAllBrandClass()">  Tüm Modeller   </td>

    <td  (click)="setCurrentBrand(brand)" routerLink = "/cars/brand/{{brand.brandId}}" 
    *ngFor='let brand of brand' [class]="getCurrentBrandClass(brand)" >  <h5> {{brand.brandName}}  </h5>  </td>
  </tr>

</table>
<h6 *ngIf="currentBrand"  class="alert alert-success" > {{currentBrand.brandName}} Seçtiniz :)  </h6>
<!-- [class]="getAllBrandClass()" -->

