

<div class=" mx-3 my-3 mr-4">  
<table class="table "  style="background-color: #ffffff9f;">
   
  <thead>
  
      <tr>
        
       
      </tr>

  </thead>
  <tr >
     <td     (click)="clearCurrentBrand()"  routerLink = "/cars" [class]="getAllBrandClass()"> <h2>  Tüm Modeller  </h2>   </td>

    <td  (click)="setCurrentBrand(brand)" routerLink = "/cars/brand/{{brand.brandId}}" 
    *ngFor='let brand of brand' [class]="getCurrentBrandClass(brand)" >  <h5> {{brand.brandName}}  </h5>  </td>
  </tr>

</table>
</div>
<h6 *ngIf="currentBrand"  class="alert alert-success" > {{currentBrand.brandName}} Seçtiniz :)  </h6>
<!-- [class]="getAllBrandClass()" -->

