<h2 class="text-center" >Markalar (Brands)</h2>

<table class="table "  style="background-color: #ffffff9f;">
   
  <thead>
  
      <tr>
        
        <th> <h3> Model </h3> </th>
      </tr>

  </thead>
  <tr >
     <td     (click)="clearCurrentBrand()"  routerLink = "/cars" [class]="getAllBrandClass()"> <h6> Tüm Modeller </h6>  </td>

    <td  (click)="setCurrentBrand(brand)" 
    routerLink = "/cars/brand/{{brand.brandId}}" 
    *ngFor='let brand of brand' 
      [class]="getCurrentBrandClass(brand)" >  {{brand.brandName}}  </td>
</tr>

</table>
<h6 *ngIf="currentBrand" > {{currentBrand.brandName}} Seçtiniz :)  </h6>
<!-- [class]="getAllBrandClass()" -->

