<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">

        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
              <p class="d-flex justify-content-center align-items-center">
                <span class="me-3"> <h4 > Simdi ücretsiz Kayıt Ol  </h4> </span>
                <button type="button" class="btn btn-outline-primary btn-rounded">
                 <h5> Kayıt Ol </h5>
                </button>
              </p>
            </section>
            <!-- Section: CTA -->
          </div>
         
      <!-- Section: Social media -->
      <section class="mb-4">

          <!-- Instagram -->
        <a class="btn btn-outline-warning btn-floating m-2" href="https://www.instagram.com/smtcoder/" target="_blank" role="button"
          ><i class="fab fa-instagram"></i
        > <h5> Instagram </h5>  </a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-warning btn-floating m-2" href="https://www.linkedin.com/in/samet-akca-2a4bbb1a8/"  target="_blank" role="button"
          ><i class="fab fa-linkedin-in"></i
        > <H5> Linkedin </H5>   </a>
  
        <!-- Github -->
        <a class="btn btn-outline-warning btn-floating m-2" href="https://github.com/smtdeveloper" target="_blank" role="button"
          ><i class="fab fa-github"></i
        > <H5> Github </H5>  </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  <div>  
    <label for=""> Google Play</label>
    <br>
    <a class="btn btn-outline-success  btn-floating m-2" href="https://github.com/smtdeveloper" target="_blank" role="button"
          ><i class="fab fa-github"></i
        >  <H5>Uygulamayı indir  </H5>  </a>
  </div>
    <!-- Copyright -->
    
    <!-- Copyright -->
    <div>
      <br>
     <h3  class="p-3 mb-2 bg-secondary text-white" > Başta "Engin Demirog" hocam olmak üzere Bu süreçte Emeği Geçen ve <br>
        hatalarımızda bize yardım eden  Herkese Teşekkür ederim :)   Ekip Arkadaşlarım.    </h3>
     <br>
      <h4> Mislina Aydın </h4> 

      <section class="mb-4">

        <!-- Instagram -->
      <a class="btn btn-outline-secondary btn-floating m-2" href="https://www.instagram.com/misgibiyazilim/" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      > <h5> Instagram </h5>  </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-secondary btn-floating m-2" href="https://www.linkedin.com/in/petek-mislina-aydin-b13b721b2/"  target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      > <H5> Linkedin </H5>   </a>

      <!-- Github -->
      <a class="btn btn-outline-secondary btn-floating m-2" href="https://github.com/mislinaaydn" target="_blank" role="button"
        ><i class="fab fa-github"></i
      > <H5> Github </H5>  </a>
    </section>

      <h4> Nazlı Cekiç </h4>  


      <section class="mb-4">

        <!-- Instagram -->
      <a class="btn btn-outline-secondary btn-floating m-2" href="https://www.instagram.com/_naz.ckc/" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      > <h5> Instagram </h5>  </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-secondary btn-floating m-2" href="https://www.linkedin.com/in/nazl%C4%B1-%C3%A7eki%C3%A7-8b52aa179/"  target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      > <H5> Linkedin </H5>   </a>

      <!-- Github -->
      <a class="btn btn-outline-secondary btn-floating m-2" href="https://github.com/nazlicekic" target="_blank" role="button"
        ><i class="fab fa-github"></i
      > <H5> Github </H5>  </a>
    </section>


      <h4>  Samet Akca </h4> 


      <section class="mb-4">

        <!-- Instagram -->
      <a class="btn btn-outline-secondary btn-floating m-2" href="https://www.instagram.com/smtcoder/" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      > <h5> Instagram </h5>  </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-secondary btn-floating m-2" href="https://www.linkedin.com/in/samet-akca-2a4bbb1a8/"  target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      > <H5> Linkedin </H5>   </a>

      <!-- Github -->
      <a class="btn btn-outline-secondary btn-floating m-2" href="https://github.com/smtdeveloper" target="_blank" role="button"
        ><i class="fab fa-github"></i
      > <H5> Github </H5>  </a>

      <a class="btn btn-outline-secondary btn-floating m-2" href="https://play.google.com/store/apps/developer?id=Samet+Akca" target="_blank" role="button"
      ><i class="fab fa-instagram"></i
    > <h5> Google Play </h5>  </a>

    <a class="btn btn-outline-secondary btn-floating m-2" href="https://sametakca.com/" target="_blank" role="button"
      ><i class="fab fa-instagram"></i
    > <h5> Web Sitem </h5>  </a>
    </section>

      <br>  <br> 
      <h5> </h5>
    </div>

    <div class="text-center p-5" style="background-color: rgba(0, 0, 0, 0.2);">
      <h5>  ©2021   Web Sitem : sametakca.com  </h5>
       <a class="text-white" href="https://sametakca.com/"> <h4 class="text-primary" > SMTcoder </h4 > </a>
     </div>


  </footer>