<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">

        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
              <p class="d-flex justify-content-center align-items-center">
                <span class="me-3"> <h4 > Simdi ücretsiz Kayıt Ol  </h4> </span>
                <button routerLink="/login" type="button" class="btn btn-outline-primary btn-rounded">
                 <h5> Kayıt Ol </h5>
                </button>
              </p>
            </section>
            <!-- Section: CTA -->
          </div>
         
      <!-- Section: Social media -->
      <section class="mb-4">

          <!-- Instagram -->
        <a class="btn btn-outline-warning btn-floating m-2" href="https://www.instagram.com/smtcoder/" target="_blank" role="button"
          ><i class="fab fa-instagram"></i
        > <h5> Instagram </h5>  </a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-warning btn-floating m-2" href="https://www.linkedin.com/in/samet-akca-2a4bbb1a8/"  target="_blank" role="button"
          ><i class="fab fa-linkedin-in"></i
        > <H5> Linkedin </H5>   </a>
  
        <!-- Github -->
        <a class="btn btn-outline-warning btn-floating m-2" href="https://github.com/smtdeveloper" target="_blank" role="button"
          ><i class="fab fa-github"></i
        > <H5> Github </H5>  </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  <div>  
    <label for=""> Google Play</label>
    <br>
    <a class="btn btn-outline-success  btn-floating m-2" href="https://github.com/smtdeveloper" target="_blank" role="button"
          ><i class="fab fa-github"></i
        >  <H5>Uygulamayı indir  </H5>  </a>
  </div>
    <!-- Copyright -->
    
    <!-- Copyright -->
   
     
  
    <div class="text-center p-5" style="background-color: rgba(0, 0, 0, 0.2);">
      <h5>  ©2021   Web Sitem : sametakca.com  </h5>
       <a class="text-white" href="https://sametakca.com/"> <h4 class="text-primary" > SMTcoder </h4 > </a>
     </div>


  </footer>