
<br><br><br>

<div class="container">
    
    <div class="card">
       
      
        <div class="alert alert-dark" role="alert">
          <h4 class="alert-heading text-center"> <h3> Ödeme Sayfası  </h3> </h4>
        </div>
        <div class="card-body">
            <div class="card-top border-bottom text-center">
               
            <div class="row">
              <div class="col-md-12">
                <div class="left border">
                  <div class="row">
      
           
         
<form class="bg-dark">
  <br />
  <br />
  <br />

  <form class="">
    <div class="mb-3 col-md-12">

        <div class="col-12"> 
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id=""> <h3> İsim ve Soyisim  </h3> </span>
              </div>
              <input type="text" placeholder="isim giriniz" class="form-control">
              <input type="text"  placeholder="soy isim giriniz" class="form-control">
            </div>
          </div>
       
       </div>

      
       <div class="mb-3 col-md-12">

        <div class="col-12"> 
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id=""> <h5> Tarih girin <br> Alış Tarihi  / Teslim Tarihi </h5> </span>
              </div>
              <input type="date" name="bday" max="3000-12-31" 
              min="1000-01-01" class="form-control">
              <input type="date" placeholder="Alıs Tarihi" name="bday" max="3000-12-31" 
              min="1000-01-01" class="form-control">
            </div>
          </div>
       
       </div>

     <br>
 <h2 class="form-label text-light" > Araçı Teslim etmek istediğiniz Şube'yi seçin </h2>
       <select class="form-control form-control-lg">
        <option disabled selected > Konum Seç </option>
        <option> Kütahya / Hilton Otopark </option>
        <option> Kütahya / YPARK Otopark</option>
        <option> Kütahya / Sevgi Otopark </option>
        <option> Eskişehir   / Espark Otopark </option>
        <option> Eskişehir / Petkon Otopark</option>
        <option> Eskişehir / Kentaş  Otopark </option>
      </select>

    

    

    
 <div>
     
       </div>
       <br>
       
<br>
        
        

  </form>
  

  <div class="icons">
    <img src="https://img.icons8.com/color/48/000000/visa.png" />
    <img
      src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
    />
    <img
      src="https://img.icons8.com/color/48/000000/maestro.png"
    />
  </div>

  <div class="col-md-6 ">
    <!--Blue select-->
   
    <div class="row">
        <div class="col-md-6 select-outline">
      
          <select class="form-control form-control-lg btn-warning">
            <option value="" disabled selected> <b>  Ödeme Yöntemi seç</b> </option>
            <option value="1">Banka Kartı</option>
            <option value="2">Kredi Kartı</option>
         
          </select>
        
      
        </div>
      </div>
    </div>

 
     
      <br>
      <br>
 
      <div class="container">
        <div class="row">

          <div class="col">
            <h3 class="text-light" > Kart üzerindeki isim </h3>
            <input
            type="text"
            class="form-control"
            placeholder="Kart üzerindeki ismi giriniz"
          />
          <br />
          <br />
          <h3 class="text-light" > Kart numarası </h3>
          <input type="text" 
          class="form-control"
           placeholder="Kart numarasını giriniz" />
           <br />
           <br />
           <h4 class="text-light" > Cvv ( Kartın arkasındaki 3 haneli rakam ) </h4>
           <div class="col-12"> 
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id=""> Son kullanma Tarihi </span>
              </div>
              <input type="date" name="bday" max="3000-12-31" 
              min="1000-01-01" class="form-control">
              <input type="text" 
              class="form-control"
               placeholder="CVV" />
            </div>
          </div>
            </div>

          <div class="col  mx-5 ">

            <div class="col mx-5"> 
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success"> <h3> İşlem Özeti </h3> </div>
                <div class="card-body text-success">
                    <li class="list-group-item list-group-item-secondary"> <b> Model İsmi: </b>  </li>
                    <li class="list-group-item list-group-item-secondary"> <b> Marka: </b>  </li>
                    <li class="list-group-item list-group-item-secondary"> <b> Renk:</b> </li>
                    <li class="list-group-item list-group-item-secondary"> <b> Model Yılı: </b>  </li>
                    <br>
                    <h4 class="card-title"> Toplam Tutar :  <b>  500 ₺ </b> </h4>
                 
                </div>
                <div class="card-footer bg-transparent border-success">@SMTcoder</div>
              </div>
            </div>
            </div>

          <div class="w-100"> </div>

          <div class="col">
              
           
            </div>

          <div class="col">
              
            

          </div>

          <div class="w-100"> </div>

          <div class="col">
           
            </div>
          <div class="col">Column</div>
          <div class="w-100"> </div>
          <div class="col">Column</div>
          <div class="col">Column</div>
        </div>
      </div>
  
  <br />
  <br />
  <button type="submit" class="btn btn-primary mb-2"> <h3> Ödeme Yap </h3> </button>

      </form>          
                </div>
            </div>
        </div>
    </div>
 </div>