
<br> <br>
<button   routerLink = "/cars" type="button" class="btn btn-outline-danger "> <h5> Kapat </h5> </button> 
<br> <br> 

<br> <br> 

<!--Grid row-->
<div class="row">


  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-6 mb-4">
<br>
    <!--Card-->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header peach-gradient">
        <h5 class="mb-0"> <h3 class="text-center"> Aracınızın Konumu  </h3>   </h5>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center">

        <!--Google map-->
        <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2097.06126852881!2d29.981196241394997!3d39.42135267176133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c9480cbdbc81c5%3A0x9309aff99149485a!2sOtopark!5e0!3m2!1str!2str!4v1617626034524!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  
        </div>

       
      </div>
      <!--/.Card content-->
      
    </div>
    <!--/.Card-->

  </div>
  <div class="p-3 mb-2 bg-dark   text-light col-md-6">

    <h3> Dikkat ! </h3>

    <hr>
    <h5>   Google Play'den uygulamızı indirin ve  size gödericemiz kod ile <br> aracınızın kapılarını acabilirsiniz. <br> <br>
         @SMTcoder  iyi seyirler diler. :)  <br><br>
         <button type="button" class="btn btn-outline-success text-light  ">
           <a class="text-light " style="text-decoration: none" target="_blank"  href="https://play.google.com/store/apps/developer?id=Samet+Akca">  Uygulamayı indir  </a>  </button>
          </h5>

          
        </div>
        </div> 
  <!--Grid column-->
<br> <br>
  <form action=" ">   
    <div class="col-md-10" >  
<div class="mb-3 col-md-12">
  <H3 class="text-light text-center" > isim soyisim </H3>
  <div class="input-group">
   
              <div class="input-group-prepend">
           
              </div>
              <input type="text" placeholder="isim giriniz" class="form-control">
              <input type="text"  placeholder="soy isim giriniz" class="form-control">
            </div>
          
       
       </div>
     
<!--  
       <h2 class="form-label text-light text-center" > Araçı Teslim etmek istediğiniz Şube'yi seçin </h2>
       <select class="form-control form-control-lg">
        <option disabled selected > Konum Seç </option>
        <option> Kütahya / Hilton Otopark </option>
        <option> Kütahya / YPARK Otopark</option>
        <option> Kütahya / Sevgi Otopark </option>
        <option> Eskişehir   / Espark Otopark </option>
        <option> Eskişehir / Petkon Otopark</option>
        <option> Eskişehir / Kentaş  Otopark </option>
      </select>
   -->    
      <br>

       <div class="mb-3 col-md-12">
        <H3 class="text-light text-center" > Tarih Girin <br> Alış Tarihi  / Teslim Tarihi</H3>
        <div class="col-12"> 
            <div class="input-group">
              <div class="input-group-prepend">
             
              </div>

              <input
              class="form-control"
              min="{{ getMinDate() }}"
              value="{{ getMinDate() }}"
              type="date"
              [(ngModel)]="rentDate"
             
            /> 

              <!--   <input
              class="form-control"
              min="{{ getMinDate() }}"
              value="{{ getMinDate() }}"
              type="date"
              [(ngModel)]="rentDate"
            />   -->

            <input
            class="form-control"
            min="{{ getMinDate() }}"
            value="{{ getMinDate() }}"
            type="Date"
           [(ngModel)]="returnDate"
          />

              <button  routerLink="/payment" type="button" class="btn btn-warning btn-lg">  <h4> Aracı Kirala </h4>  </button> <br> <br>
            </div>
          </div>
        </div>
      
     <br>
 
      <br> <br> <br>
     
    </div>

<br> <br>

     

    
    </form>
    
 <div>
     
       </div>

<!--Grid row-->


  
  <br> <br> <br> 