<div style="background-color: #000000a9;">  

    <div class=" ">   
    
        <div class="col-md-12" > 
            <app-navi></app-navi>   
    
        </div>

        
    
        <div class="row"> 
           
          
            <div class="col-md-2">
                <app-brand></app-brand>
                <app-color></app-color>
            </div>
    
            <div class="col-md-10" >
                
                <router-outlet></router-outlet>
            </div>


            <div class="col-md-12"  >
                
             <app-footer></app-footer>
            </div>
        </div> 
    </div>
</div>