<div style="background-color: #ffc400de;">  

<div class="container ">   

    <div class="col-md-12" > 
        <app-navi></app-navi>   

    </div>

    <div class="row"> 
        
        <div class="col-md-6">
            <app-brand></app-brand>
        </div>

        <div class="col-md-6" >
            <app-color></app-color>

        </div>
     </div>

     <div class="col-md-12" >

        <app-car></app-car>
     </div>

   

     <div class="col-md-12" >

        <app-customer></app-customer>
     </div>

     <div class="col-md-12" >

        <app-rental></app-rental>
     </div>

    


<router-outlet></router-outlet>

</div>

</div>