<h2 class="text-center" >Arabalar (Cars)</h2>

<div *ngIf ="dataLoaded == false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

 <table *ngIf ="dataLoaded == true" class="table "  style="background-color: #ffffffce;">  
         <thead>
             <tr>
                 <th>#</th>
                 <th>Model İsim</th>
                 <th>Marka</th>
                 <th>Renk</th>
                 <th>Model Yılı</th>
                 <th>Fiyat</th>
                 <th>Açıklama</th>
             </tr>

         </thead>
         <tr  *ngFor="let car of car">
            <td>{{car.carId}}</td>
            <td>{{car.name}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}}</td>
            <td>{{car.description}}</td>
        </tr>
     
 </table>