

<br> <br> 
<button   routerLink = "/cars" type="button" class="btn btn-outline-danger "> <h5> Kapat </h5> </button> 
<br> 
<br> <br><br>


<h1 class="text-center text-light">Marka Listesi Listesi </h1> 
<br> <br>

<table class="table table-bordered table-condensed table-hover " style="background-color: rgb(255, 255, 255);" >
    <thead class="thead-dark">
        <tr>  
            <th>  <h2 class="text-center text-primary" > Markalar </h2>  </th>    
            <th>  <h2  class="text-center text-success" > Güncelle </h2>  </th>    
            <th>  <h2  class="text-center text-danger" > Sil </h2>  </th>   
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brands">
          <td> <h3> {{ brand.brandName }} </h3> </td>

          <td class="operations">
            <button class="btn btn-success" routerLink="/brands/update/{{brand.brandId}}" >Güncelle</button>
          
          </td>
          
          <td>
            <button class="btn btn-danger" (click)="deleteBrand(brand)">Sil</button>
          </td>
        </tr>
      </tbody>
</table>